.socials-header button {
  background-color: var(--secondary-color); 
  border: none;
  border-radius: 10px;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.5s, transform 0.5s; 
  margin: 0 0.75em 1em;
  position: relative; 
  overflow: hidden; 
}

.socials-header button::before,
.socials-header button::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
}

.socials-header button::before {
  background-color: rgba(255,255,255,0.1);
}

.socials-header button:hover::before {
  opacity: 0 ;
  transform: scale(0.5,0.5);
}

.socials-header button::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  transform: scale(1.2,1.2);
}

.socials-header button:hover::after {
  opacity: 1;
  transform: scale(1,1);
}

.socials-header button:hover {
  background-color: var(--color-steel); 
  transform: scale(1.07);
}

.socials-header button.selected {
  background-color: var(--main-color); 
  color: var(--secondary-color);
  font-weight: 800;
}

/* ============================================== */

.details-page {
  background-image: url('../../images/platform.jpg');
  background-position: top;
  position: static;
  min-height: 90vh;
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  justify-content: center;
}

.details-overlay {
  /* animation: fadeIn 1s ease; */
  background-color: white;
  width: 900px;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  border-radius: 1em;
  flex-wrap: wrap;
}

.btn-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.hrt-btn-empty, .hrt-btn-full {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 15px 0 0;
  width: 45px;
  height: 45px;
  font-size: 25px;
  text-align: center;
  border: none;
  border-radius: 1em;
  background-color: var(--main-color);
}

.hrt-btn-empty:hover, .hrt-btn-full:hover {
  cursor: pointer;
  transform: scale(1.08)
}

.creator-name {
  font-size: 50px;
  color: var(--color-steel);
  padding-bottom: 15px;
  margin: 0;
}

.hidden {
  display: none;
}



