:root {
  --main-color:  rgb(255, 205, 106);
  --secondary-color: #121308;
  --tertiary-color: white;
  --main-font: "Mulish", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --color-golden: #B67D43;
  --color-beige: #D9A878;
  --color-steel: #3D5265;
  --color-brown: #514136;
  --color-black: #121308;
}

body {
  text-align: center;
  background: var(--secondary-color);
  color: white;
  font-family: var(--main-font);
}

.error-message {
  background-color: #ff0000; 
  color: #ffffff; 
  padding: 10px; 
  border-radius: 5px; 
}