.card {
  border-radius: 1em;
  width: 300px;
  height: 2em;
  margin: 20px;
  background-color: var(--secondary-color);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.07);
}

