.home-container {
  background-image: url('../../images/platform.jpg');
  background-position: top;
  position: static;
  height: 1000px;
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  justify-content: center;
}

.start-btn {
  border: none;
  border-radius: 1em;
  width: 300px;
  height: 2em;
  margin-top: 100px;
  background-color: var(--main-color);
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  opacity: 80%;
  font-weight: 900;
}

.start-btn:hover {
  cursor: pointer;
  background-color: var(--main-color);
  transform: scale(1.07);
}
