.home-container {
  background-image: url('../../images/platform.jpg');
  height: 1000px;
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  justify-content: center;
}

.start-btn {
  border: none;
  border-radius: 1em;
  font-size: 20px;
  margin: 5em 0;
  padding: 0.5em 1em;
  opacity: 80%;
  font-weight: 600;
}

.start-btn:hover {
  cursor: pointer;
  transform: scale(1.1)
}
