a {
  text-decoration: none;
  color: white;
}

h1 {
  letter-spacing: 0.2em;
  font-size: 70px;
  font-weight: 800;
}

.header {
  color: #fff;
}

.header-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--tertiary-color);
  color: var(--color-steel);
  padding: 10px;
}

@keyframes fadeInFromRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

.header-title h1 {
  margin: 0;
  animation: fadeInFromRight 3s ease forwards; 
}


.header-title h2 {
  margin: 0 5px;
}

.navbar {
  background-color: var(--color-black);
}

.navbar-nav {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin: 0px;
}

.nav-item {
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-size: 20px;

}

.nav-item:hover {
  background-color: var(--color-steel);
}

.active {
  background-color: var(--color-steel);
}  